/*
   viernes 1 de agosto de 201410:52:57
   User: 
   Server: ORION\SQL2012
   Database: MAT.Intranet
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Cliente
	DROP CONSTRAINT FK_Cliente_Persona
GO
ALTER TABLE dbo.Persona SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Cliente
	DROP CONSTRAINT DF_Cliente_ClienteID
GO
CREATE TABLE dbo.Tmp_Cliente
	(
	ClienteID uniqueidentifier NOT NULL,
	RazonSocial varchar(50) NULL,
	Cuit varchar(50) NULL,
	Moneda varchar(50) NULL,
	Empresa varchar(50) NULL,
	FormaPago int NULL,
	CondicionIva varchar(50) NULL,
	VendedorID uniqueidentifier NULL,
	Fax varchar(50) NULL,
	Web varchar(50) NULL,
	Idioma varchar(50) NULL,
	Promotor varchar(50) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Cliente SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_Cliente ADD CONSTRAINT
	DF_Cliente_ClienteID DEFAULT (newid()) FOR ClienteID
GO
IF EXISTS(SELECT * FROM dbo.Cliente)
	 EXEC('INSERT INTO dbo.Tmp_Cliente (ClienteID, RazonSocial, Cuit, Moneda, Empresa, FormaPago, CondicionIva, VendedorID, Fax, Web, Idioma, Promotor)
		SELECT ClienteID, RazonSocial, Cuit, Moneda, Empresa, CONVERT(int, FormaPago), CondicionIva, VendedorID, Fax, Web, Idioma, Promotor FROM dbo.Cliente WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.CuentaCorriente
	DROP CONSTRAINT FK_CuentaCorriente_Cliente
GO
DROP TABLE dbo.Cliente
GO
EXECUTE sp_rename N'dbo.Tmp_Cliente', N'Cliente', 'OBJECT' 
GO
ALTER TABLE dbo.Cliente ADD CONSTRAINT
	PK_Cliente PRIMARY KEY CLUSTERED 
	(
	ClienteID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Cliente ADD CONSTRAINT
	FK_Cliente_Persona FOREIGN KEY
	(
	ClienteID
	) REFERENCES dbo.Persona
	(
	PersonaID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CuentaCorriente ADD CONSTRAINT
	FK_CuentaCorriente_Cliente FOREIGN KEY
	(
	ClienteID
	) REFERENCES dbo.Cliente
	(
	ClienteID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CuentaCorriente SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
