use [MAT.Intranet]

alter table dbo.Cliente
 add Observacion varchar(250) null

alter table dbo.Paquete
 add Cotizacion float null, Codigo varchar(50) null

create table dbo.TipoPasaje (TipoID int not null, Descripcion varchar(50), primary key (TipoID))

insert into TipoPasaje (TipoID, Descripcion) values (1, 'EMISIVA')
insert into TipoPasaje (TipoID, Descripcion) values (2, 'RECEPTIVA')

alter table dbo.Pasaje 
 add TipoID int not null, foreign key (TipoID) references TipoPasaje(TipoID)

create table dbo.TipoCliente (TipoID int not null, Descripcion varchar(50), primary key (TipoID))

insert into dbo.TipoCliente (TipoID, Descripcion) values (1, 'MAYORISTA')
insert into dbo.TipoCliente (TipoID, Descripcion) values (2, 'MINORISTA')

alter table dbo.Cliente
add TipoID int not null, foreign key (TipoID) references TipoCliente(TipoID)

