/*
   miércoles 6 de agosto de 201410:32:00
   User: 
   Server: ORION\SQL2012
   Database: MAT.Intranet
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.Cliente.Obsevacion', N'Tmp_Observacion_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.Cliente.Tmp_Observacion_1', N'Observacion', 'COLUMN' 
GO
ALTER TABLE dbo.Cliente SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
