<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Butaca" EntityName="Butaca" Owner="dbo" PropertyName="Butaca" FieldName="_butaca" FriendlyName="Butaca" IncludeInOutput="true">
		<Column Id="ButacaID" CSType="System.Guid" PropertyName="ButacaId" FieldName="_butacaId" FriendlyName="Butaca Id" IncludeInOutput="true" />
		<Column Id="NroButaca" CSType="System.Int32?" PropertyName="NroButaca" FieldName="_nroButaca" FriendlyName="Nro Butaca" IncludeInOutput="true" />
		<Column Id="Piso" CSType="System.Int32?" PropertyName="Piso" FieldName="_piso" FriendlyName="Piso" IncludeInOutput="true" />
		<Column Id="Ubicacion" CSType="System.Int32?" PropertyName="Ubicacion" FieldName="_ubicacion" FriendlyName="Ubicacion" IncludeInOutput="true" />
		<Column Id="Tipo" CSType="System.Int32?" PropertyName="Tipo" FieldName="_tipo" FriendlyName="Tipo" IncludeInOutput="true" />
		<Column Id="TransporteID" CSType="System.Guid?" PropertyName="TransporteId" FieldName="_transporteId" FriendlyName="Transporte Id" IncludeInOutput="true" />
		<ChildCollection Id="PasajeCollection" PropertyName="PasajeCollection" FieldName="_pasajeButacaId" FriendlyName="PasajeCollection" CSType="TList&lt;Pasaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Pasaje_Butaca" IncludeInOutput="true"/>
	</Table>
	<Table Id="Cliente" EntityName="Cliente" Owner="dbo" PropertyName="Cliente" FieldName="_cliente" FriendlyName="Cliente" IncludeInOutput="true">
		<Column Id="ClienteID" CSType="System.Guid" PropertyName="ClienteId" FieldName="_clienteId" FriendlyName="Cliente Id" IncludeInOutput="true" />
		<Column Id="RazonSocial" CSType="System.String" PropertyName="RazonSocial" FieldName="_razonSocial" FriendlyName="Razon Social" IncludeInOutput="true" />
		<Column Id="Cuit" CSType="System.String" PropertyName="Cuit" FieldName="_cuit" FriendlyName="Cuit" IncludeInOutput="true" />
		<Column Id="Moneda" CSType="System.String" PropertyName="Moneda" FieldName="_moneda" FriendlyName="Moneda" IncludeInOutput="true" />
		<Column Id="Empresa" CSType="System.String" PropertyName="Empresa" FieldName="_empresa" FriendlyName="Empresa" IncludeInOutput="true" />
		<Column Id="FormaPago" CSType="System.String" PropertyName="FormaPago" FieldName="_formaPago" FriendlyName="Forma Pago" IncludeInOutput="true" />
		<Column Id="CondicionIva" CSType="System.String" PropertyName="CondicionIva" FieldName="_condicionIva" FriendlyName="Condicion Iva" IncludeInOutput="true" />
		<Column Id="VendedorID" CSType="System.Guid?" PropertyName="VendedorId" FieldName="_vendedorId" FriendlyName="Vendedor Id" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="_fax" FriendlyName="Fax" IncludeInOutput="true" />
		<Column Id="Web" CSType="System.String" PropertyName="Web" FieldName="_web" FriendlyName="Web" IncludeInOutput="true" />
		<Column Id="Idioma" CSType="System.String" PropertyName="Idioma" FieldName="_idioma" FriendlyName="Idioma" IncludeInOutput="true" />
		<Column Id="Promotor" CSType="System.String" PropertyName="Promotor" FieldName="_promotor" FriendlyName="Promotor" IncludeInOutput="true" />
		<ChildCollection Id="CuentaCorrienteCollection" PropertyName="CuentaCorrienteCollection" FieldName="_cuentaCorrienteClienteId" FriendlyName="CuentaCorrienteCollection" CSType="TList&lt;CuentaCorriente&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CuentaCorriente_Cliente" IncludeInOutput="true"/>
	</Table>
	<Table Id="CuentaCorriente" EntityName="CuentaCorriente" Owner="dbo" PropertyName="CuentaCorriente" FieldName="_cuentaCorriente" FriendlyName="Cuenta Corriente" IncludeInOutput="true">
		<Column Id="CuentaCorrienteID" CSType="System.Guid" PropertyName="CuentaCorrienteId" FieldName="_cuentaCorrienteId" FriendlyName="Cuenta Corriente Id" IncludeInOutput="true" />
		<Column Id="ClienteID" CSType="System.Guid?" PropertyName="ClienteId" FieldName="_clienteId" FriendlyName="Cliente Id" IncludeInOutput="true" />
		<Column Id="Estado" CSType="System.Boolean?" PropertyName="Estado" FieldName="_estado" FriendlyName="Estado" IncludeInOutput="true" />
		<ChildCollection Id="MovimientoCuentaCollection" PropertyName="MovimientoCuentaCollection" FieldName="_movimientoCuentaCuentaCorrienteId" FriendlyName="MovimientoCuentaCollection" CSType="TList&lt;MovimientoCuenta&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_MovimientoCuenta_CuentaCorriente" IncludeInOutput="true"/>
	</Table>
	<Table Id="Destino" EntityName="Destino" Owner="dbo" PropertyName="Destino" FieldName="_destino" FriendlyName="Destino" IncludeInOutput="true">
		<Column Id="DestinoID" CSType="System.Guid" PropertyName="DestinoId" FieldName="_destinoId" FriendlyName="Destino Id" IncludeInOutput="true" />
		<Column Id="Descripcion" CSType="System.String" PropertyName="Descripcion" FieldName="_descripcion" FriendlyName="Descripcion" IncludeInOutput="true" />
		<ChildCollection Id="PaqueteCollection" PropertyName="PaqueteCollection" FieldName="_paqueteDestinoId" FriendlyName="PaqueteCollection" CSType="TList&lt;Paquete&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Paquete_Destino" IncludeInOutput="true"/>
	</Table>
	<Table Id="Factura" EntityName="Factura" Owner="dbo" PropertyName="Factura" FieldName="_factura" FriendlyName="Factura" IncludeInOutput="true">
		<Column Id="FacturaID" CSType="System.Guid" PropertyName="FacturaId" FieldName="_facturaId" FriendlyName="Factura Id" IncludeInOutput="true" />
		<Column Id="NroFactura" CSType="System.String" PropertyName="NroFactura" FieldName="_nroFactura" FriendlyName="Nro Factura" IncludeInOutput="true" />
		<Column Id="Monto" CSType="System.Double?" PropertyName="Monto" FieldName="_monto" FriendlyName="Monto" IncludeInOutput="true" />
		<Column Id="Fecha" CSType="System.DateTime?" PropertyName="Fecha" FieldName="_fecha" FriendlyName="Fecha" IncludeInOutput="true" />
		<Column Id="Tipo" CSType="System.Int32?" PropertyName="Tipo" FieldName="_tipo" FriendlyName="Tipo" IncludeInOutput="true" />
		<Column Id="Estado" CSType="System.Int32?" PropertyName="Estado" FieldName="_estado" FriendlyName="Estado" IncludeInOutput="true" />
		<ChildCollection Id="MovimientoCuentaCollection" PropertyName="MovimientoCuentaCollection" FieldName="_movimientoCuentaFacturaId" FriendlyName="MovimientoCuentaCollection" CSType="TList&lt;MovimientoCuenta&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_MovimientoCuenta_Factura" IncludeInOutput="true"/>
		<ChildCollection Id="PasajeCollection" PropertyName="PasajeCollection" FieldName="_pasajeFacturaId" FriendlyName="PasajeCollection" CSType="TList&lt;Pasaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Pasaje_Factura" IncludeInOutput="true"/>
	</Table>
	<Table Id="Habitacion" EntityName="Habitacion" Owner="dbo" PropertyName="Habitacion" FieldName="_habitacion" FriendlyName="Habitacion" IncludeInOutput="true">
		<Column Id="HabitacionID" CSType="System.Guid" PropertyName="HabitacionId" FieldName="_habitacionId" FriendlyName="Habitacion Id" IncludeInOutput="true" />
		<Column Id="NroHabitacion" CSType="System.String" PropertyName="NroHabitacion" FieldName="_nroHabitacion" FriendlyName="Nro Habitacion" IncludeInOutput="true" />
		<Column Id="Tipo" CSType="System.Int32?" PropertyName="Tipo" FieldName="_tipo" FriendlyName="Tipo" IncludeInOutput="true" />
		<Column Id="HotelID" CSType="System.Guid?" PropertyName="HotelId" FieldName="_hotelId" FriendlyName="Hotel Id" IncludeInOutput="true" />
		<ChildCollection Id="PasajeCollection" PropertyName="PasajeCollection" FieldName="_pasajeHabitacionId" FriendlyName="PasajeCollection" CSType="TList&lt;Pasaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Pasaje_Habitacion" IncludeInOutput="true"/>
	</Table>
	<Table Id="Hotel" EntityName="Hotel" Owner="dbo" PropertyName="Hotel" FieldName="_hotel" FriendlyName="Hotel" IncludeInOutput="true">
		<Column Id="HotelID" CSType="System.Guid" PropertyName="HotelId" FieldName="_hotelId" FriendlyName="Hotel Id" IncludeInOutput="true" />
		<Column Id="Nombre" CSType="System.String" PropertyName="Nombre" FieldName="_nombre" FriendlyName="Nombre" IncludeInOutput="true" />
		<Column Id="Direccion" CSType="System.String" PropertyName="Direccion" FieldName="_direccion" FriendlyName="Direccion" IncludeInOutput="true" />
		<Column Id="CP" CSType="System.String" PropertyName="Cp" FieldName="_cp" FriendlyName="Cp" IncludeInOutput="true" />
		<Column Id="Localidad" CSType="System.String" PropertyName="Localidad" FieldName="_localidad" FriendlyName="Localidad" IncludeInOutput="true" />
		<Column Id="Telefono" CSType="System.String" PropertyName="Telefono" FieldName="_telefono" FriendlyName="Telefono" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Contacto" CSType="System.String" PropertyName="Contacto" FieldName="_contacto" FriendlyName="Contacto" IncludeInOutput="true" />
		<Column Id="CantidadHabitaciones" CSType="System.Int32?" PropertyName="CantidadHabitaciones" FieldName="_cantidadHabitaciones" FriendlyName="Cantidad Habitaciones" IncludeInOutput="true" />
		<Column Id="DestinoID" CSType="System.Guid?" PropertyName="DestinoId" FieldName="_destinoId" FriendlyName="Destino Id" IncludeInOutput="true" />
		<Column Id="Categoría" CSType="System.Int32?" PropertyName="SafeNameCategorA" FieldName="_safeNameCategorA" FriendlyName="Categoría" IncludeInOutput="true" />
		<Column Id="Child1" CSType="System.String" PropertyName="Child1" FieldName="_child1" FriendlyName="Child1" IncludeInOutput="true" />
		<Column Id="Child2" CSType="System.String" PropertyName="Child2" FieldName="_child2" FriendlyName="Child2" IncludeInOutput="true" />
		<Column Id="ChildHabitacion" CSType="System.Int32?" PropertyName="ChildHabitacion" FieldName="_childHabitacion" FriendlyName="Child Habitacion" IncludeInOutput="true" />
		<Column Id="CheckIn" CSType="System.TimeSpan?" PropertyName="CheckIn" FieldName="_checkIn" FriendlyName="Check In" IncludeInOutput="true" />
		<Column Id="CheckOut" CSType="System.TimeSpan?" PropertyName="CheckOut" FieldName="_checkOut" FriendlyName="Check Out" IncludeInOutput="true" />
		<Column Id="GoogleMapHtml" CSType="System.String" PropertyName="GoogleMapHtml" FieldName="_googleMapHtml" FriendlyName="Google Map Html" IncludeInOutput="true" />
		<ChildCollection Id="ServicioCollection" PropertyName="ServicioCollection" FieldName="_servicioHotelId" FriendlyName="ServicioCollection" CSType="TList&lt;Servicio&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Servicio_Hotel" IncludeInOutput="true"/>
		<ChildCollection Id="HabitacionCollection" PropertyName="HabitacionCollection" FieldName="_habitacionHotelId" FriendlyName="HabitacionCollection" CSType="TList&lt;Habitacion&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Habitacion_Hotel" IncludeInOutput="true"/>
	</Table>
	<Table Id="MovimientoCuenta" EntityName="MovimientoCuenta" Owner="dbo" PropertyName="MovimientoCuenta" FieldName="_movimientoCuenta" FriendlyName="Movimiento Cuenta" IncludeInOutput="true">
		<Column Id="MovimientoID" CSType="System.Guid" PropertyName="MovimientoId" FieldName="_movimientoId" FriendlyName="Movimiento Id" IncludeInOutput="true" />
		<Column Id="PagoID" CSType="System.Guid?" PropertyName="PagoId" FieldName="_pagoId" FriendlyName="Pago Id" IncludeInOutput="true" />
		<Column Id="FacturaID" CSType="System.Guid?" PropertyName="FacturaId" FieldName="_facturaId" FriendlyName="Factura Id" IncludeInOutput="true" />
		<Column Id="FechaRegistro" CSType="System.DateTime?" PropertyName="FechaRegistro" FieldName="_fechaRegistro" FriendlyName="Fecha Registro" IncludeInOutput="true" />
		<Column Id="CuentaCorrienteID" CSType="System.Guid?" PropertyName="CuentaCorrienteId" FieldName="_cuentaCorrienteId" FriendlyName="Cuenta Corriente Id" IncludeInOutput="true" />
	</Table>
	<Table Id="Pago" EntityName="Pago" Owner="dbo" PropertyName="Pago" FieldName="_pago" FriendlyName="Pago" IncludeInOutput="true">
		<Column Id="PagoID" CSType="System.Guid" PropertyName="PagoId" FieldName="_pagoId" FriendlyName="Pago Id" IncludeInOutput="true" />
		<Column Id="FechaPago" CSType="System.DateTime?" PropertyName="FechaPago" FieldName="_fechaPago" FriendlyName="Fecha Pago" IncludeInOutput="true" />
		<Column Id="Monto" CSType="System.Double?" PropertyName="Monto" FieldName="_monto" FriendlyName="Monto" IncludeInOutput="true" />
		<Column Id="TipoPago" CSType="System.Int32?" PropertyName="TipoPago" FieldName="_tipoPago" FriendlyName="Tipo Pago" IncludeInOutput="true" />
		<ChildCollection Id="MovimientoCuentaCollection" PropertyName="MovimientoCuentaCollection" FieldName="_movimientoCuentaPagoId" FriendlyName="MovimientoCuentaCollection" CSType="TList&lt;MovimientoCuenta&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_MovimientoCuenta_Pago" IncludeInOutput="true"/>
	</Table>
	<Table Id="Paquete" EntityName="Paquete" Owner="dbo" PropertyName="Paquete" FieldName="_paquete" FriendlyName="Paquete" IncludeInOutput="true">
		<Column Id="PaqueteID" CSType="System.Guid" PropertyName="PaqueteId" FieldName="_paqueteId" FriendlyName="Paquete Id" IncludeInOutput="true" />
		<Column Id="Descripcion" CSType="System.String" PropertyName="Descripcion" FieldName="_descripcion" FriendlyName="Descripcion" IncludeInOutput="true" />
		<Column Id="Precio" CSType="System.Double?" PropertyName="Precio" FieldName="_precio" FriendlyName="Precio" IncludeInOutput="true" />
		<Column Id="Moneda" CSType="System.Int32?" PropertyName="Moneda" FieldName="_moneda" FriendlyName="Moneda" IncludeInOutput="true" />
		<Column Id="Iva" CSType="System.String" PropertyName="Iva" FieldName="_iva" FriendlyName="Iva" IncludeInOutput="true" />
		<Column Id="Alicuota" CSType="System.String" PropertyName="Alicuota" FieldName="_alicuota" FriendlyName="Alicuota" IncludeInOutput="true" />
		<Column Id="DestinoID" CSType="System.Guid?" PropertyName="DestinoId" FieldName="_destinoId" FriendlyName="Destino Id" IncludeInOutput="true" />
		<Column Id="Temporada" CSType="System.String" PropertyName="Temporada" FieldName="_temporada" FriendlyName="Temporada" IncludeInOutput="true" />
		<ChildCollection Id="PaqueteServicioCollection" PropertyName="PaqueteServicioCollection" FieldName="_paqueteServicioPaqueteId" FriendlyName="PaqueteServicioCollection" CSType="TList&lt;PaqueteServicio&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_PaqueteServicio_Paquete" IncludeInOutput="true"/>
		<ChildCollection Id="ViajeCollection" PropertyName="ViajeCollection" FieldName="_viajePaqueteId" FriendlyName="ViajeCollection" CSType="TList&lt;Viaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Viaje_Paquete" IncludeInOutput="true"/>
	</Table>
	<Table Id="PaqueteServicio" EntityName="PaqueteServicio" Owner="dbo" PropertyName="PaqueteServicio" FieldName="_paqueteServicio" FriendlyName="Paquete Servicio" IncludeInOutput="true">
		<Column Id="PaqueteServicioID" CSType="System.Guid" PropertyName="PaqueteServicioId" FieldName="_paqueteServicioId" FriendlyName="Paquete Servicio Id" IncludeInOutput="true" />
		<Column Id="ServicioID" CSType="System.Guid?" PropertyName="ServicioId" FieldName="_servicioId" FriendlyName="Servicio Id" IncludeInOutput="true" />
		<Column Id="PaqueteID" CSType="System.Guid?" PropertyName="PaqueteId" FieldName="_paqueteId" FriendlyName="Paquete Id" IncludeInOutput="true" />
	</Table>
	<Table Id="Pasaje" EntityName="Pasaje" Owner="dbo" PropertyName="Pasaje" FieldName="_pasaje" FriendlyName="Pasaje" IncludeInOutput="true">
		<Column Id="PasajeID" CSType="System.Guid" PropertyName="PasajeId" FieldName="_pasajeId" FriendlyName="Pasaje Id" IncludeInOutput="true" />
		<Column Id="PasajeroID" CSType="System.Guid?" PropertyName="PasajeroId" FieldName="_pasajeroId" FriendlyName="Pasajero Id" IncludeInOutput="true" />
		<Column Id="HabitacionID" CSType="System.Guid?" PropertyName="HabitacionId" FieldName="_habitacionId" FriendlyName="Habitacion Id" IncludeInOutput="true" />
		<Column Id="ButacaID" CSType="System.Guid?" PropertyName="ButacaId" FieldName="_butacaId" FriendlyName="Butaca Id" IncludeInOutput="true" />
		<Column Id="FechaReserva" CSType="System.DateTime?" PropertyName="FechaReserva" FieldName="_fechaReserva" FriendlyName="Fecha Reserva" IncludeInOutput="true" />
		<Column Id="FechaCompra" CSType="System.DateTime?" PropertyName="FechaCompra" FieldName="_fechaCompra" FriendlyName="Fecha Compra" IncludeInOutput="true" />
		<Column Id="ViajeID" CSType="System.Guid?" PropertyName="ViajeId" FieldName="_viajeId" FriendlyName="Viaje Id" IncludeInOutput="true" />
		<Column Id="FacturaID" CSType="System.Guid?" PropertyName="FacturaId" FieldName="_facturaId" FriendlyName="Factura Id" IncludeInOutput="true" />
	</Table>
	<Table Id="Pasajero" EntityName="Pasajero" Owner="dbo" PropertyName="Pasajero" FieldName="_pasajero" FriendlyName="Pasajero" IncludeInOutput="true">
		<Column Id="PasajeroID" CSType="System.Guid" PropertyName="PasajeroId" FieldName="_pasajeroId" FriendlyName="Pasajero Id" IncludeInOutput="true" />
		<Column Id="Pasaporte" CSType="System.String" PropertyName="Pasaporte" FieldName="_pasaporte" FriendlyName="Pasaporte" IncludeInOutput="true" />
		<Column Id="VencimientoPasaporte" CSType="System.DateTime?" PropertyName="VencimientoPasaporte" FieldName="_vencimientoPasaporte" FriendlyName="Vencimiento Pasaporte" IncludeInOutput="true" />
		<Column Id="EmisionPasaporte" CSType="System.DateTime?" PropertyName="EmisionPasaporte" FieldName="_emisionPasaporte" FriendlyName="Emision Pasaporte" IncludeInOutput="true" />
		<Column Id="PaisOrigen" CSType="System.String" PropertyName="PaisOrigen" FieldName="_paisOrigen" FriendlyName="Pais Origen" IncludeInOutput="true" />
		<ChildCollection Id="PasajeCollection" PropertyName="PasajeCollection" FieldName="_pasajePasajeroId" FriendlyName="PasajeCollection" CSType="TList&lt;Pasaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Pasaje_Pasajero" IncludeInOutput="true"/>
	</Table>
	<Table Id="Persona" EntityName="Persona" Owner="dbo" PropertyName="Persona" FieldName="_persona" FriendlyName="Persona" IncludeInOutput="true">
		<Column Id="PersonaID" CSType="System.Guid" PropertyName="PersonaId" FieldName="_personaId" FriendlyName="Persona Id" IncludeInOutput="true" />
		<Column Id="Apellido" CSType="System.String" PropertyName="Apellido" FieldName="_apellido" FriendlyName="Apellido" IncludeInOutput="true" />
		<Column Id="Nombre" CSType="System.String" PropertyName="Nombre" FieldName="_nombre" FriendlyName="Nombre" IncludeInOutput="true" />
		<Column Id="TipoDocumento" CSType="System.String" PropertyName="TipoDocumento" FieldName="_tipoDocumento" FriendlyName="Tipo Documento" IncludeInOutput="true" />
		<Column Id="NroDocumento" CSType="System.String" PropertyName="NroDocumento" FieldName="_nroDocumento" FriendlyName="Nro Documento" IncludeInOutput="true" />
		<Column Id="Pais" CSType="System.String" PropertyName="Pais" FieldName="_pais" FriendlyName="Pais" IncludeInOutput="true" />
		<Column Id="Telefono" CSType="System.String" PropertyName="Telefono" FieldName="_telefono" FriendlyName="Telefono" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="FechaNacimiento" CSType="System.DateTime?" PropertyName="FechaNacimiento" FieldName="_fechaNacimiento" FriendlyName="Fecha Nacimiento" IncludeInOutput="true" />
		<Column Id="Sexo" CSType="System.String" PropertyName="Sexo" FieldName="_sexo" FriendlyName="Sexo" IncludeInOutput="true" />
		<ChildCollection Id="Cliente" PropertyName="Cliente" FieldName="_clienteClienteId" FriendlyName="Cliente" CSType="TList&lt;Cliente&gt;" RelationshipType="OneToOne" ForeignKeyName="FK_Cliente_Persona" IncludeInOutput="true"/>
		<ChildCollection Id="Proveedor" PropertyName="Proveedor" FieldName="_proveedorProveedorId" FriendlyName="Proveedor" CSType="TList&lt;Proveedor&gt;" RelationshipType="OneToOne" ForeignKeyName="FK_Proveedor_Persona" IncludeInOutput="true"/>
		<ChildCollection Id="Pasajero" PropertyName="Pasajero" FieldName="_pasajeroPasajeroId" FriendlyName="Pasajero" CSType="TList&lt;Pasajero&gt;" RelationshipType="OneToOne" ForeignKeyName="FK_Pasajero_Persona" IncludeInOutput="true"/>
	</Table>
	<Table Id="Proveedor" EntityName="Proveedor" Owner="dbo" PropertyName="Proveedor" FieldName="_proveedor" FriendlyName="Proveedor" IncludeInOutput="true">
		<Column Id="ProveedorID" CSType="System.Guid" PropertyName="ProveedorId" FieldName="_proveedorId" FriendlyName="Proveedor Id" IncludeInOutput="true" />
		<Column Id="RazonSocial" CSType="System.String" PropertyName="RazonSocial" FieldName="_razonSocial" FriendlyName="Razon Social" IncludeInOutput="true" />
		<Column Id="Pais" CSType="System.String" PropertyName="Pais" FieldName="_pais" FriendlyName="Pais" IncludeInOutput="true" />
		<Column Id="Provincia" CSType="System.String" PropertyName="Provincia" FieldName="_provincia" FriendlyName="Provincia" IncludeInOutput="true" />
		<Column Id="Localidad" CSType="System.String" PropertyName="Localidad" FieldName="_localidad" FriendlyName="Localidad" IncludeInOutput="true" />
		<Column Id="Telefono" CSType="System.String" PropertyName="Telefono" FieldName="_telefono" FriendlyName="Telefono" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="_fax" FriendlyName="Fax" IncludeInOutput="true" />
		<Column Id="Web" CSType="System.String" PropertyName="Web" FieldName="_web" FriendlyName="Web" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="Idioma" CSType="System.String" PropertyName="Idioma" FieldName="_idioma" FriendlyName="Idioma" IncludeInOutput="true" />
		<Column Id="CondicionIva" CSType="System.Int32?" PropertyName="CondicionIva" FieldName="_condicionIva" FriendlyName="Condicion Iva" IncludeInOutput="true" />
		<Column Id="Cuit" CSType="System.String" PropertyName="Cuit" FieldName="_cuit" FriendlyName="Cuit" IncludeInOutput="true" />
		<Column Id="FormaPago" CSType="System.Int32?" PropertyName="FormaPago" FieldName="_formaPago" FriendlyName="Forma Pago" IncludeInOutput="true" />
		<ChildCollection Id="ServicioCollection" PropertyName="ServicioCollection" FieldName="_servicioProveedorId" FriendlyName="ServicioCollection" CSType="TList&lt;Servicio&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Servicio_Proveedor" IncludeInOutput="true"/>
	</Table>
	<Table Id="Servicio" EntityName="Servicio" Owner="dbo" PropertyName="Servicio" FieldName="_servicio" FriendlyName="Servicio" IncludeInOutput="true">
		<Column Id="ServicioID" CSType="System.Guid" PropertyName="ServicioId" FieldName="_servicioId" FriendlyName="Servicio Id" IncludeInOutput="true" />
		<Column Id="Descripcion" CSType="System.String" PropertyName="Descripcion" FieldName="_descripcion" FriendlyName="Descripcion" IncludeInOutput="true" />
		<Column Id="Precio" CSType="System.Double?" PropertyName="Precio" FieldName="_precio" FriendlyName="Precio" IncludeInOutput="true" />
		<Column Id="Moneda" CSType="System.String" PropertyName="Moneda" FieldName="_moneda" FriendlyName="Moneda" IncludeInOutput="true" />
		<Column Id="Iva" CSType="System.String" PropertyName="Iva" FieldName="_iva" FriendlyName="Iva" IncludeInOutput="true" />
		<Column Id="Alicuota" CSType="System.Double?" PropertyName="Alicuota" FieldName="_alicuota" FriendlyName="Alicuota" IncludeInOutput="true" />
		<Column Id="Validez" CSType="System.DateTime?" PropertyName="Validez" FieldName="_validez" FriendlyName="Validez" IncludeInOutput="true" />
		<Column Id="VisibilidadTarifa" CSType="System.Int32?" PropertyName="VisibilidadTarifa" FieldName="_visibilidadTarifa" FriendlyName="Visibilidad Tarifa" IncludeInOutput="true" />
		<Column Id="ProveedorID" CSType="System.Guid?" PropertyName="ProveedorId" FieldName="_proveedorId" FriendlyName="Proveedor Id" IncludeInOutput="true" />
		<Column Id="TransporteID" CSType="System.Guid?" PropertyName="TransporteId" FieldName="_transporteId" FriendlyName="Transporte Id" IncludeInOutput="true" />
		<Column Id="HotelID" CSType="System.Guid?" PropertyName="HotelId" FieldName="_hotelId" FriendlyName="Hotel Id" IncludeInOutput="true" />
		<ChildCollection Id="PaqueteServicioCollection" PropertyName="PaqueteServicioCollection" FieldName="_paqueteServicioServicioId" FriendlyName="PaqueteServicioCollection" CSType="TList&lt;PaqueteServicio&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_PaqueteServicio_Servicio" IncludeInOutput="true"/>
	</Table>
	<Table Id="Transporte" EntityName="Transporte" Owner="dbo" PropertyName="Transporte" FieldName="_transporte" FriendlyName="Transporte" IncludeInOutput="true">
		<Column Id="TransporteID" CSType="System.Guid" PropertyName="TransporteId" FieldName="_transporteId" FriendlyName="Transporte Id" IncludeInOutput="true" />
		<Column Id="NroCoche" CSType="System.String" PropertyName="NroCoche" FieldName="_nroCoche" FriendlyName="Nro Coche" IncludeInOutput="true" />
		<Column Id="MaxPasajeros" CSType="System.Int32?" PropertyName="MaxPasajeros" FieldName="_maxPasajeros" FriendlyName="Max Pasajeros" IncludeInOutput="true" />
		<Column Id="KmRecorridos" CSType="System.String" PropertyName="KmRecorridos" FieldName="_kmRecorridos" FriendlyName="Km Recorridos" IncludeInOutput="true" />
		<Column Id="UltimoService" CSType="System.DateTime?" PropertyName="UltimoService" FieldName="_ultimoService" FriendlyName="Ultimo Service" IncludeInOutput="true" />
		<Column Id="Matricula" CSType="System.String" PropertyName="Matricula" FieldName="_matricula" FriendlyName="Matricula" IncludeInOutput="true" />
		<ChildCollection Id="ButacaCollection" PropertyName="ButacaCollection" FieldName="_butacaTransporteId" FriendlyName="ButacaCollection" CSType="TList&lt;Butaca&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Butaca_Transporte" IncludeInOutput="true"/>
		<ChildCollection Id="ServicioCollection" PropertyName="ServicioCollection" FieldName="_servicioTransporteId" FriendlyName="ServicioCollection" CSType="TList&lt;Servicio&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Servicio_Transporte" IncludeInOutput="true"/>
	</Table>
	<Table Id="Viaje" EntityName="Viaje" Owner="dbo" PropertyName="Viaje" FieldName="_viaje" FriendlyName="Viaje" IncludeInOutput="true">
		<Column Id="ViajeID" CSType="System.Guid" PropertyName="ViajeId" FieldName="_viajeId" FriendlyName="Viaje Id" IncludeInOutput="true" />
		<Column Id="PaqueteID" CSType="System.Guid?" PropertyName="PaqueteId" FieldName="_paqueteId" FriendlyName="Paquete Id" IncludeInOutput="true" />
		<Column Id="Origen" CSType="System.String" PropertyName="Origen" FieldName="_origen" FriendlyName="Origen" IncludeInOutput="true" />
		<Column Id="FechaSalida" CSType="System.DateTime?" PropertyName="FechaSalida" FieldName="_fechaSalida" FriendlyName="Fecha Salida" IncludeInOutput="true" />
		<Column Id="HoraSalida" CSType="System.TimeSpan?" PropertyName="HoraSalida" FieldName="_horaSalida" FriendlyName="Hora Salida" IncludeInOutput="true" />
		<Column Id="PaisOrigen" CSType="System.String" PropertyName="PaisOrigen" FieldName="_paisOrigen" FriendlyName="Pais Origen" IncludeInOutput="true" />
		<Column Id="PaisDestino" CSType="System.String" PropertyName="PaisDestino" FieldName="_paisDestino" FriendlyName="Pais Destino" IncludeInOutput="true" />
		<Column Id="Paso" CSType="System.String" PropertyName="Paso" FieldName="_paso" FriendlyName="Paso" IncludeInOutput="true" />
		<Column Id="Medio" CSType="System.String" PropertyName="Medio" FieldName="_medio" FriendlyName="Medio" IncludeInOutput="true" />
		<ChildCollection Id="PasajeCollection" PropertyName="PasajeCollection" FieldName="_pasajeViajeId" FriendlyName="PasajeCollection" CSType="TList&lt;Pasaje&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Pasaje_Viaje" IncludeInOutput="true"/>
	</Table>
	<View Id="PersonaCliente" EntityName="PersonaCliente" Owner="dbo" PropertyName="PersonaCliente" FieldName="_personaCliente" FriendlyName="Persona Cliente" IncludeInOutput="true">
		<Column Id="PersonaID" CSType="System.Guid" PropertyName="PersonaId" FieldName="_personaId" FriendlyName="Persona Id" IncludeInOutput="true" />
		<Column Id="Apellido" CSType="System.String" PropertyName="Apellido" FieldName="_apellido" FriendlyName="Apellido" IncludeInOutput="true" />
		<Column Id="Nombre" CSType="System.String" PropertyName="Nombre" FieldName="_nombre" FriendlyName="Nombre" IncludeInOutput="true" />
		<Column Id="TipoDocumento" CSType="System.String" PropertyName="TipoDocumento" FieldName="_tipoDocumento" FriendlyName="Tipo Documento" IncludeInOutput="true" />
		<Column Id="NroDocumento" CSType="System.String" PropertyName="NroDocumento" FieldName="_nroDocumento" FriendlyName="Nro Documento" IncludeInOutput="true" />
		<Column Id="Pais" CSType="System.String" PropertyName="Pais" FieldName="_pais" FriendlyName="Pais" IncludeInOutput="true" />
		<Column Id="Telefono" CSType="System.String" PropertyName="Telefono" FieldName="_telefono" FriendlyName="Telefono" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="FechaNacimiento" CSType="System.DateTime?" PropertyName="FechaNacimiento" FieldName="_fechaNacimiento" FriendlyName="Fecha Nacimiento" IncludeInOutput="true" />
		<Column Id="Sexo" CSType="System.String" PropertyName="Sexo" FieldName="_sexo" FriendlyName="Sexo" IncludeInOutput="true" />
		<Column Id="ClienteID" CSType="System.Guid" PropertyName="ClienteId" FieldName="_clienteId" FriendlyName="Cliente Id" IncludeInOutput="true" />
		<Column Id="RazonSocial" CSType="System.String" PropertyName="RazonSocial" FieldName="_razonSocial" FriendlyName="Razon Social" IncludeInOutput="true" />
		<Column Id="Cuit" CSType="System.String" PropertyName="Cuit" FieldName="_cuit" FriendlyName="Cuit" IncludeInOutput="true" />
		<Column Id="Moneda" CSType="System.String" PropertyName="Moneda" FieldName="_moneda" FriendlyName="Moneda" IncludeInOutput="true" />
		<Column Id="Empresa" CSType="System.String" PropertyName="Empresa" FieldName="_empresa" FriendlyName="Empresa" IncludeInOutput="true" />
		<Column Id="FormaPago" CSType="System.String" PropertyName="FormaPago" FieldName="_formaPago" FriendlyName="Forma Pago" IncludeInOutput="true" />
		<Column Id="CondicionIva" CSType="System.String" PropertyName="CondicionIva" FieldName="_condicionIva" FriendlyName="Condicion Iva" IncludeInOutput="true" />
		<Column Id="VendedorID" CSType="System.Guid?" PropertyName="VendedorId" FieldName="_vendedorId" FriendlyName="Vendedor Id" IncludeInOutput="true" />
		<Column Id="Fax" CSType="System.String" PropertyName="Fax" FieldName="_fax" FriendlyName="Fax" IncludeInOutput="true" />
		<Column Id="Web" CSType="System.String" PropertyName="Web" FieldName="_web" FriendlyName="Web" IncludeInOutput="true" />
		<Column Id="Idioma" CSType="System.String" PropertyName="Idioma" FieldName="_idioma" FriendlyName="Idioma" IncludeInOutput="true" />
		<Column Id="Promotor" CSType="System.String" PropertyName="Promotor" FieldName="_promotor" FriendlyName="Promotor" IncludeInOutput="true" />
	</View>
	<View Id="PersonaPasajero" EntityName="PersonaPasajero" Owner="dbo" PropertyName="PersonaPasajero" FieldName="_personaPasajero" FriendlyName="Persona Pasajero" IncludeInOutput="true">
		<Column Id="PersonaID" CSType="System.Guid" PropertyName="PersonaId" FieldName="_personaId" FriendlyName="Persona Id" IncludeInOutput="true" />
		<Column Id="Apellido" CSType="System.String" PropertyName="Apellido" FieldName="_apellido" FriendlyName="Apellido" IncludeInOutput="true" />
		<Column Id="Nombre" CSType="System.String" PropertyName="Nombre" FieldName="_nombre" FriendlyName="Nombre" IncludeInOutput="true" />
		<Column Id="TipoDocumento" CSType="System.String" PropertyName="TipoDocumento" FieldName="_tipoDocumento" FriendlyName="Tipo Documento" IncludeInOutput="true" />
		<Column Id="NroDocumento" CSType="System.String" PropertyName="NroDocumento" FieldName="_nroDocumento" FriendlyName="Nro Documento" IncludeInOutput="true" />
		<Column Id="Pais" CSType="System.String" PropertyName="Pais" FieldName="_pais" FriendlyName="Pais" IncludeInOutput="true" />
		<Column Id="Telefono" CSType="System.String" PropertyName="Telefono" FieldName="_telefono" FriendlyName="Telefono" IncludeInOutput="true" />
		<Column Id="Email" CSType="System.String" PropertyName="Email" FieldName="_email" FriendlyName="Email" IncludeInOutput="true" />
		<Column Id="FechaNacimiento" CSType="System.DateTime?" PropertyName="FechaNacimiento" FieldName="_fechaNacimiento" FriendlyName="Fecha Nacimiento" IncludeInOutput="true" />
		<Column Id="Sexo" CSType="System.String" PropertyName="Sexo" FieldName="_sexo" FriendlyName="Sexo" IncludeInOutput="true" />
		<Column Id="PasajeroID" CSType="System.Guid" PropertyName="PasajeroId" FieldName="_pasajeroId" FriendlyName="Pasajero Id" IncludeInOutput="true" />
		<Column Id="Pasaporte" CSType="System.String" PropertyName="Pasaporte" FieldName="_pasaporte" FriendlyName="Pasaporte" IncludeInOutput="true" />
		<Column Id="VencimientoPasaporte" CSType="System.DateTime?" PropertyName="VencimientoPasaporte" FieldName="_vencimientoPasaporte" FriendlyName="Vencimiento Pasaporte" IncludeInOutput="true" />
		<Column Id="EmisionPasaporte" CSType="System.DateTime?" PropertyName="EmisionPasaporte" FieldName="_emisionPasaporte" FriendlyName="Emision Pasaporte" IncludeInOutput="true" />
		<Column Id="PaisOrigen" CSType="System.String" PropertyName="PaisOrigen" FieldName="_paisOrigen" FriendlyName="Pais Origen" IncludeInOutput="true" />
	</View>
</NetTiersMap>
