.piso_superior,
.piso_superior a,
.piso_inferior,
.piso_inferior a,
.new_piso_superior,
.new_piso_superior a,
.new_piso_inferior,
.new_piso_inferior a 
{
	cursor: pointer
}

.piso_superior li,
.piso_inferior li,
.new_piso_superior li,
.new_piso_inferior li
{
	visibility: visible;
}

.piso_superior_edicion,
.piso_superior_edicion a,
.piso_inferior_edicion,
.piso_inferior_edicion a
{
	cursor:pointer
}

.piso_superior_edicion li,
.piso_inferior_edicion li
{
	visibility: visible;
}